* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}
.div-container {
    height: 100vh;
    background-image: url(https://st2.depositphotos.com/1008971/6542/v/450/depositphotos_65429197-stock-illustration-abstract-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-survey {
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #07076e94;
    width: 800px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    position: sticky;
    top: 0;
}

.create-survey h2 {
    color: black;
    text-align: center;
}
.inputs{
    display: flex;
    flex-direction: column;
}

.create-survey input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    
}

.create-survey button {
    border: 2px solid black;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #07076E;
    padding: 10px;
    margin-left: 20px;
}

.create-survey .actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.create-survey .cancel:hover {
    background-color: rgb(158, 31, 31);
}
.create-survey .save:hover {
    background-color: rgb(35, 155, 35);
}
