.div-container {
    background-image: url(https://st2.depositphotos.com/1008971/6542/v/450/depositphotos_65429197-stock-illustration-abstract-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    position: sticky;
    top: 0;
}
.profile-btn {
    font-size: 1.2rem;
    border-style: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
     font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
background-color: #07076E;
padding: 10px;

}
.results-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.results-details h2 {
    align-items: center;
    margin: 20px;
}

.results-details .res {
    margin-bottom: 30px;
}

.result-div {
  padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #07076e94;
    max-width: 80%;
    margin: 20px;
    background-color: white;
    text-align: center;
    width: 1000px;
}
.question-box {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #07076e1e;;
    padding: 10px;
    margin-bottom: 20px;
}

.question-box p, .question-box ul {
    padding: 10px;
}

.question-box ul {
   align-content: center;
   list-style: none;
}