<div class="results-details" *ngIf="surveys$ | async as survey">
    <div class="result-div">
      <h2>Results Details</h2>
      <p class="res">Respondents: {{respondentCount}}</p>

      <div class="question-box">
        <!-- <p>{{result.questionText}}</p> -->
        <!-- <ul *ngFor="let choice of result.answers">
          <li>{{choice.answerText }} : {{choice.count}}</li>
      </ul> -->
      </div>
    </div>
    <div *ngIf="survey?.response?.length === 0">
      <p>No results available. Survey may be open or have no responses.</p>
    </div>
  </div>