<div class="results-details" *ngIf="surveys$ | async as survey">
    <div class="result-div">
      <h2>Results Details</h2>
      <p class="res">Respondents: {{respondentCount}}</p>

      <div class="question-box" >
        <!-- Will get the questions to the survey  -->
        <div class="question" *ngFor="let question of survey.questions">
            <h1>{{question.text}}</h1> 
            <div class="choices" *ngFor="let choices of question.choiceOptions">
               <h2>{{choices.optionText}}</h2>
               <!-- Logic for checking how many people picked this specific choice -->
               <h2>Number of responses: </h2>
            </div>
        </div>    
      </div>
    </div>
    <div >
      <p>No results available. Survey may be open or have no responses.</p>
    </div>
  </div>