.register-form-div {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(https://st2.depositphotos.com/1008971/6542/v/450/depositphotos_65429197-stock-illustration-abstract-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.register-form {
    padding: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #07076e94;
    width: 500px;
}

.register-form h2 {
    color: #07076E;
    text-align: center;
    font-size: 1.5rem;
    font-family: "EB Garamond", serif;
}

.reg-form {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.register-form input, select {
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  margin: 20px 0;
  border: 1px solid black;
  border-radius: 5px;
}

.register-form button {
  justify-content: center;
  align-items: center;
    background-color: periwrinkle;
    color: black;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}
.register-form button:hover {
    background-color: #CCCCFF;
}
.register-form .actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.register-form .cancel:hover {
    background-color: rgb(158, 31, 31);
}
.register-form .save:hover {
    background-color: rgb(35, 155, 35);
}

.input {
    display: flex;
    flex-direction: column;
    
}

.inputVal {
    width: 300px;
    height: 30px;
    padding: 5px;
}
.register {
    text-align: center;
}

label {
    margin-right: 50px;
    display: block;
    font-size: 1.1rem;
}

.register-btn {
    display: flex;
    justify-content: center;
    
}

.register-btn button {
    width: 200px;
    padding: 10px;
    font-size: 1.2rem;
    border-style: none;
    color: white;
    cursor: pointer;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #07076E;
}