<div class="header-div">
  <div class="app-name-div">
    <h1 class="app-name">DataPulse</h1>
    <a routerLink="/home" routerLinkActive="active">
      <p class="app-tagline">Turning Feedback into Intelligence</p>
    </a>
    
  </div>

  <div class="results-div">
    <!-- Role-based Links -->
    <a *ngIf="isCoordinator" routerLink="/results" routerLinkActive="active">
      <h1>Results</h1>
    </a>
    <a *ngIf="isCoordinator" routerLink="/admin" routerLinkActive="active">
      <h1>Admin</h1>
    </a>

    <!-- Auth Links -->
    <ng-container *ngIf="currentUser; else loginLink">
      <a (click)="logout()">
      <h1>Logout</h1>
    </a>
    </ng-container>
    <ng-template #loginLink>
      <a routerLink="/login" routerLinkActive="active">
        <h1>Login</h1>
      </a>
    </ng-template>
  </div>
</div>
