<div class="header-div">

   <!-- Routing for the logo  -->
 <a routerLink="/home" routerLinkActive="active">
  <div class="app-name-div">
    <h1 class="app-name">DataPulse</h1>
      <p class="app-tagline">Turning Feedback into Intelligence</p>
  </div>
  </a>

  <div class="results-div">
    <!-- Role-based Links -->
    <a *ngIf="(currentUser$ | async)?.role === 'COORDINATOR'" routerLink="/results" routerLinkActive="active">
      <h1>Results</h1>
    </a>
    <a *ngIf="(currentUser$ | async)?.role === 'COORDINATOR'" routerLink="/admin" routerLinkActive="active">
      <h1>Admin</h1>
    </a>

    <!-- Auth Links -->
    <ng-container *ngIf="isAuthenticated$ | async">
        <a (click)="logout()">
        <h1>Logout</h1>
      </a>
    </ng-container>
    <ng-template #loginLink *ngIf="!(isAuthenticated$ | async)">
      <a routerLink="/login" routerLinkActive="active">
        <h1>Login</h1>
      </a>
    </ng-template>
  </div>
</div>
