/* font-family: "EB Garamond", serif;
   font-family: "Mali", cursive;
*/

.header-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1d47;
}

.app-name-div {
    padding: 20px;
    text-align: center;
    width: 200px;
    cursor: pointer;
}

.app-name {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;    
}

.app-tagline {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}

.results-div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 50px;
    font-size: 0.8rem;
    font-weight: normal;
    display: flex;
}

.results-div a {
    margin-right: 20px;
}
.results-div h1 {
    font-weight: normal;
    font-size: 1.5rem;
    color: white;
}

.results-div h1:hover {
    font-size: 1.7rem;

}

.results-div a:hover {
    text-decoration: underline;
    cursor: pointer;
    
}