<div class="survey-div">
  <div class="survey-container">
    <div class="survey">

      <div class="survey-title">
        <h2>{{ option.title }}</h2>
      </div>

      <div class="question-container"
           *ngFor="let q of option.questions">

        <div class="question">
          <h4>Question: {{ q.text }}</h4>
        </div>

        <div class="question-options">
          <div class="options"
               *ngFor="let choice of q.choices">

            <label>
              <input type="radio"
                     [name]="'q_' + q.id"
                     [value]="choice.choiceId"
                     (change)="answerQuestion(q.id, choice.choiceId)">
              {{ choice.text }}
            </label>
          </div>
        </div>
      </div>

      <div class="button-sector">
        <button class="cancelButton" routerLink="/home">Cancel</button>
        <button class="submitButton"
                [disabled]="!canSubmit()"
                (click)="submitButton()">Submit</button>
      </div>

    </div>
  </div>
</div>