.survey-div {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: url(https://st2.depositphotos.com/1008971/6542/v/450/depositphotos_65429197-stock-illustration-abstract-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.survey-container{
  display: grid;
  justify-content: center;
  align-items: center;
 border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #07076e94;
  width: 60vw;
  max-width: 700px;
  min-width: 350px;
  padding: 15px 15px;
  background-color: white;
}

.survey-title h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #07076e;
  font-size: 2rem;
  margin: 50px;
}

.question-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  width: 45vw;
  margin-bottom: 25px;
}

.question{
  font-weight: bolder;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 20px;
}

.question-options{
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: 50px;
}

.button-sector{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 15px;
}

.submitButton, .cancelButton {
    margin-left: 20px;
    margin: 5px;
    width: 100px;
    height: 30px;
    font-size: 1.2rem;
    border-style: none;
    color: white;
    cursor: pointer;
     font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.submitButton {
    background-color: rgb(136, 254, 136);
}

.submitButton:hover {
    background-color: green;
}


.cancelButton {
    background-color:rgb(253, 147, 109);
}

.cancelButton:hover {
    background-color: orangered;
}