.main-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px;
    background-image: url(https://st2.depositphotos.com/1008971/6542/v/450/depositphotos_65429197-stock-illustration-abstract-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.topics {
  display: flex;
  justify-content:  center;
  gap: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color:  #07076E;;
}

.topics a:hover {
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.4rem;
}

.main-page-section {
    display: flex;
    margin-top: 100px;
}

.most-viewed-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 5px 1px #374002;
    max-height: 800px;
}

.most-viewed-header {
    font-family: "EB Garamond", serif;
    margin: 40px;
    text-align: center;
}

.most-viewed-survey-div {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}

.most-viewed-info {
    display: flex;
}

.most-viewed-survey-status {
    background-color: #037400;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    padding: 10px;
}

.most-viewed-survey-name {
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.most-viewed-survey-name:hover {
    text-decoration: underline;
    cursor: pointer;
    
}


.open-surveys-div {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.survey-open {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.survey-open div {
    margin-right: 50px;
}
.survey-img {
    width: 120px;
    height: 120px;
}

.survey-info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.survey-main-info h1 {
    font-family: "EB Garamond", serif;
    color: #07076E;
}

.survey-main-info p {
    color: rgb(0, 0, 0);
}

.survey-link {
    cursor: pointer;
}

.survey-link h1:hover {
   text-decoration: underline;
}